.plan-phase-VBox {
    -fx-background-color: -fx-primary-red;
}

.do-phase-VBox {
    -fx-background-color: -fx-primary-blue;
}

.check-phase-VBox {
    -fx-background-color: -fx-primary-yellow;
}

.act-phase-VBox {
    -fx-background-color: -fx-primary-green;
}

.edit-plan-btn, .edit-do-btn, .new-task-btn, .edit-task-btn, .delete-task-btn, .edit-check-btn, .edit-act-btn, .cancel-btn {
    -fx-background-color: -fx-primary-grey;
    -fx-text-fill: white;
}

.edit-plan-btn:hover, .edit-do-btn:hover, .new-task-btn:hover, .edit-task-btn:hover, .delete-task-btn:hover, .edit-check-btn:hover, .edit-act-btn:hover, .cancel-btn:hover {
    -fx-background-color: -fx-secondary-grey;
}