.menuBar {
    -fx-background-color: -fx-primary-grey;
}

.context-menu {
    -fx-background-color: -fx-primary-grey;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: -fx-primary-blue;
}

.gridPane {
    -fx-background-color: -fx-primary-grey;
}

.gridPaneLabel, .createButton, .editButton, .cycleButton, .deleteButton, .exitButton, .nextCycleButton {
    -fx-background-color: -fx-primary-grey;
    -fx-text-fill: white;
}

.createButton:hover, .editButton:hover, .cycleButton:hover, .deleteButton:hover, .exitButton:hover, .nextCycleButton:hover {
    -fx-background-color: -fx-primary-blue;
}