.exit-button {
    -fx-background-color: -fx-primary-grey;
    -fx-text-fill: white;
}

.exit-button:hover {
    -fx-background-color: -fx-secondary-grey;
    -fx-text-fill: white;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-weight: 800;
}

.background {
    -fx-background-color: -fx-primary-blue;
}

.info-label {
    -fx-text-fill: white;
        -fx-font-weight: 800;
}

.action-button {
    -fx-background-color: -fx-primary-grey;
    -fx-text-fill: white;
}

.action-button:hover {
    -fx-border-color: white;
    -fx-background-color: -fx-secondary-grey;
}

.action-button:active {
    -fx-border-color: -fx-secondary-grey;
    -fx-background-color: -fx-secondary-grey;
}